{{ 'client-section.css' | asset_url | stylesheet_tag }}
<script src="{{ 'client-section.js' | asset_url }}" defer></script>

<style>
  #shopify-section-{{ section.id }} .s-clients-section {
    color: {{ section.settings.color }};
  }
  #shopify-section-{{ section.id }} .s-clients-section__bg {
    filter: brightness({% if section.settings.bg_brightness  == 0 %}1{% else %} 0.{{section.settings.bg_brightness | minus: 9 | abs}} {% endif %});
  }
  #shopify-section-{{ section.id }} .s-clients-section__review {
    background-color: {{ section.settings.review_bg_color }};
    color: {{ section.settings.review_text_color }};
    width: {{ section.settings.number_of_slides }};
  }
  #shopify-section-{{ section.id }} .s-clients-section__review__foto {
    height: {{ section.settings.foto_size }}px;
    width: {{ section.settings.foto_size }}px;
    margin-top: -{{ section.settings.foto_size | divided_by: 2 | plus: 20 }}px;
  }
  #shopify-section-{{ section.id }} .s-clients-section__review h5 {
    color: {{ section.settings.client_name_color }};
  }
  @media screen and (max-width: 990px) {
    #shopify-section-{{ section.id }} .s-clients-section__review {
      width: {{ section.settings.number_of_slides_tablet }};
    }
  }
  @media screen and (max-width: 600px) {
    #shopify-section-{{ section.id }} .s-clients-section__review {
      width: {{ section.settings.number_of_slides_mobile }};
    }
  }
</style>

{% if section.settings.autoplay == true %}
  {% assign speedSlider = section.settings.speed %}
  {% else %}
  {% assign speedSlider = false %}
{% endif %}

<s-client-section
  data-autoplay="{{ section.settings.autoplay }}"
  data-speed={{ speedSlider }}
>
  <section class="s-clients-section">
    {% if section.settings.bg_image %}
      <img
        src="{{ section.settings.bg_image | img_url: 'master'}}"
        alt="{{ section.settings.bg_image.alt }}"
        class="s-clients-section__bg"
      >
    {% endif %}
    <div class="s-clients-section__header">
      <span class="s-client-section__header__subtitle">{{ section.settings.subtitle }}</span>
      {{ section.settings.subtitle }}
    </div>
    <div class="s-clients-section__slider">
      {% for block in section.blocks %}
        {% assign client = block.settings %}
        <div class="s-clients-section__review">
          {% if client.client_foto %}
          <div class="s-clients-section__review__foto">
            <img src="{{ client.client_foto | img_url: 'medium' }}" alt="{{ client.client_name }}">
          </div>  
          {% endif %}
          <h5>{{ client.client_name }}</h5>
          <p>{{ client.review }}</p>
        </div>
      {% endfor %}
    </div>
  </section>
</s-client-section>

{% schema %}
{
  "name": "Our clients",
  "settings": [
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Slider autoplay",
      "default": true
    },
    {
      "type": "range",
      "id": "speed",
      "min": 1000,
      "max": 9000,
      "step": 500,
      "unit": "ms",
      "label": "Autoplay speed",
      "default": 3000
    },
    {
      "type": "select",
      "id": "number_of_slides",
      "label": "Number of slides",
      "options": [
        {
          "value": "100%",
          "label": "One"
        },
        {
          "value": "50%",
          "label": "Two"
        },
        {
          "value": "33.3%",
          "label": "Three"
        },
        {
          "value": "25%",
          "label": "Four"
        }
      ],
      "default": "25%"
    },
    {
      "type": "select",
      "id": "number_of_slides_tablet",
      "label": "Number of slides tablet",
      "options": [
        {
          "value": "100%",
          "label": "One"
        },
        {
          "value": "50%",
          "label": "Two"
        },
        {
          "value": "33.3%",
          "label": "Three"
        },
        {
          "value": "25%",
          "label": "Four"
        }
      ],
      "default": "50%"
    },
    {
      "type": "select",
      "id": "number_of_slides_mobile",
      "label": "Number of slides mobile",
      "options": [
        {
          "value": "100%",
          "label": "One"
        },
        {
          "value": "50%",
          "label": "Two"
        },
        {
          "value": "33.3%",
          "label": "Three"
        },
        {
          "value": "25%",
          "label": "Four"
        }
      ],
      "default": "100%"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background image",
      "info": "Size reccomended 1920x850"
    },
    {
      "type": "range",
      "id": "bg_brightness",
      "min": 0,
      "max": 9,
      "step": 1,
      "label": "Background fogging",
      "default": 0
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color for your text ",
      "default": "#FFFFFF"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "What people say"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title",
      "default": "<h2>Words of our clients</h2>"
    },
    {
      "type": "range",
      "id": "foto_size",
      "min": 60,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Foto size",
      "default": 120
    },
    {
      "type": "color",
      "id": "review_bg_color",
      "label": "Review background color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "client_name_color",
      "label": "Client name color",
      "default": "#9e9e9e"
    },
    {
      "type": "color",
      "id": "review_text_color",
      "label": "Review text color",
      "default": "#9e9e9e"
    }
  ],
  "blocks": [
    {
      "type": "client",
      "name": "Client",
      "settings": [
        {
          "type": "image_picker",
          "id": "client_foto",
          "label": "Client foto",
          "info": "Size recomended 300x300"
        },
        {
          "type": "text",
          "id": "client_name",
          "label": "Client Name",
          "default": "John Doe"
        },
        {
          "type": "textarea",
          "id": "review",
          "label": "Title",
          "default": "I recently tried handmade soap, and it was a delightful experience. The soap's natural fragrance and gentle, chemical-free formula left my skin feeling refreshed and pampered."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Our clients"
    }
  ]
}
{% endschema %}
