{{ 'header.css' | asset_url | stylesheet_tag }}
<script src="{{ 'header.js' | asset_url }}" defer></script>

<style>
  #shopify-section-{{ section.id }} .s-header{
      background-color: {{ section.settings.bg_color }};
  }
  #shopify-section-{{ section.id }} header{
      max-width: {{ section.settings.max_width }}px;
      min-height: {{ section.settings.height }}px;;
  }
  #shopify-section-{{ section.id }} .s-header__menu{
      text-align: {{ section.settings.menu_position }};
  }
  #shopify-section-{{ section.id }} .s-header__menu a {
      color: {{ section.settings.menu_color }};
      font-family: {{ settings.font_body.family }};
      font-size: {{ section.settings.menu_font_size }}px;
  }
  #shopify-section-{{ section.id }} .s-header__menu a.active {
      color: {{ section.settings.active_color }};
  }
  #shopify-section-{{ section.id }} .s-header__account svg path {
      fill: {{ section.settings.menu_color }};
  }
  @media screen and (max-width: 990px){
    #shopify-section-{{ section.id }} .s-header__menu-btn svg path {
      fill: {{ section.settings.menu_color }};
    }
    #shopify-section-{{ section.id }} .s-header__menu{
      text-align: {{ section.settings.mob_menu_item_position }};
      background-color: {{ section.settings.bg_color }};
    }
    #shopify-section-{{ section.id }} .s-header__menu a {
      color: {{ section.settings.mobile_menu_color }};
      font-size: {{ section.settings.mob_menu_font_size }}px;
    }
    #shopify-section-{{ section.id }} .s-header__menu a.active {
      color: {{ section.settings.active_mobile_menu_color}};
      background-color: {{ section.settings.active_mobile_menu_bg_color}}
    }
  }
</style>

<s-header class="s-header" data-sticky={{ section.settings.sticky_header }}> 
  <header>
    <span class="s-header__menu-btn">
      {% render 'icon-hamburger' %}
      {% render 'icon-close' %}
    </span>
    {% if section.settings.logo %}
      <div class="s-header__logo">
        <a href="/">
          <img src="{{ section.settings.logo | img_url : 'master' }} " alt="{{ section.settings.logo.alt }}">
        </a>
      </div>
    {% endif %}
    <nav class="s-header__menu">
      {% for link in section.settings.menu.links %}
        <a
          href="{{ link.url }}"
          {% if link.active %}
            class="active"
          {% endif %}
        >
          {{ link.title }}
        </a>
      {% endfor %}
    </nav>
    <div class="s-header__account">
      {% render 'icon-account' %}
      {% render 'icon-cart' %}
    </div>
  </header>
</s-header>

{{  }}

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "checkbox",
      "id": "sticky_header",
      "label": "Sticky Header",
      "default": false
    },
    {
      "type": "select",
      "id": "menu_position",
      "label": "Menu Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "mob_menu_item_position",
      "label": "Mobile menu items position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 1200,
      "max": 1600,
      "step": 5,
      "label": "Header Max Width",
      "default": 1300
    },
    {
      "type": "range",
      "id": "height",
      "min": 60,
      "max": 160,
      "step": 1,
      "label": "Header Height",
      "default": 80
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "menu_font_size",
      "min": 12,
      "max": 34,
      "step": 1,
      "unit": "px",
      "label": "Menu font size",
      "default": 16
    },
    {
      "type": "range",
      "id": "mob_menu_font_size",
      "min": 12,
      "max": 34,
      "step": 1,
      "unit": "px",
      "label": "Mobile menu font size",
      "default": 16
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "color",
      "id": "menu_color",
      "label": "Menu Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "active_color",
      "label": "Active Menu Color",
      "default": "#676767"
    },
    {
      "type": "color",
      "id": "mobile_menu_color",
      "label": "Mobile menu color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "active_mobile_menu_color",
      "label": "Active mobile menu color",
      "default": "#676767"
    },
    {
      "type": "color",
      "id": "active_mobile_menu_bg_color",
      "label": "Active menu background color",
      "default": "#dedede"
    }
  ]
}
{% endschema %}
