{{ 'images-scroll-section.css' | asset_url | stylesheet_tag }}
<script src="{{ 'images-scroll-section.js' | asset_url }}" defer></script>

<style>
    #shopify-section-{{ section.id }} .s-images-scroll {
        display: block;
        background: {{ section.settings.bg_color }};
        margin-top: {{ section.settings.margin_top_desktop }}px;
        margin-bottom: {{ section.settings.margin_bottom_desktop }}px;
        padding-top: {{ section.settings.padding_top_desktop }}px;
        padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
    }

    #shopify-section-{{ section.id }} .s-images-scroll__content_title {
        background: {{ section.settings.bg_color }};
    }

    #shopify-section-{{ section.id }} .s-images-scroll__container, #shopify-section-{{ section.id }} .s-images-scroll__row {
        max-width: {{section.settings.container_width}}px;
    }

    @media (max-width: 600px) {
        #shopify-section-{{ section.id }} .s-images-scroll {
            margin-top: {{ section.settings.margin_top_mobile }}px;
            margin-bottom: {{ section.settings.margin_bottom_mobile }}px;
            padding-top: {{ section.settings.padding_top_mobile }}px;
            padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
        }
    }
</style>

<s-images-scroll class="s-images-scroll">
  <div class="s-images-scroll__container">
    <div class="s-images-scroll__row">
      <div class="s-images-scroll__content">
        <div class="s-images-scroll__content_title">
          <h3>{{ section.settings.section_title }}</h3>
        </div>
        <div class="s-images-scroll__content_steps">
          {% for block in section.blocks %}
            {%- assign step_content = block.settings -%}
            <div class="s-images-scroll__content_step {% if forloop.first %} s-images-scroll__content_step--active {% else %}
               s-images-scroll__content_step--bottom {% endif %}">
              <h6>{{ step_content.title }}</h6>
              <p>{{ step_content.content }}</p>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="s-images-scroll__wrapper-images">
        <div class="s-images-scroll__images">
          {% for block in section.blocks %}
            {%- assign step_image = block.settings -%}
            <div data-image-index={{ forloop.index }} class="s-images-scroll__images_image">
              <img src="{{ step_image.image | img_url: 'master' }}">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</s-images-scroll>

{% schema %}
{
  "name": "Images scroll",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "margin_top_desktop",
      "min": 0,
      "max": 150,
      "step": 5,
      "label": "Margin Top Desktop",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_top_mobile",
      "min": 0,
      "max": 150,
      "step": 5,
      "label": "Margin Top Mobile",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_desktop",
      "min": 0,
      "max": 150,
      "step": 5,
      "label": "Margin Bottom Desktop",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_mobile",
      "min": 0,
      "max": 150,
      "step": 5,
      "label": "Margin Bottom Mobile",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 150,
      "step": 5,
      "label": "Padding Top Desktop",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 150,
      "step": 5,
      "label": "Padding Top Mobile",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 150,
      "step": 5,
      "label": "Padding Bottom Desktop",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 150,
      "step": 5,
      "label": "Padding Bottom Mobile",
      "default": 50
    },
    {
      "type": "range",
      "id": "container_width",
      "min": 600,
      "max": 1600,
      "step": 10,
      "unit": "px",
      "label": "Container width",
      "default": 1300
    },
    {
      "type": "textarea",
      "id": "section_title",
      "label": "Section title",
      "default": "Welcome to my shop!"
    }
  ],
  "blocks": [
    {
      "type": "Step",
      "name": "Step",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Size Recommended 600x700"
        },
        {
          "type": "color",
          "id": "content_color",
          "label": "Content Color",
          "default": "#000000"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content",
          "default": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus quasi excepturi asperiores totam fugiat at!"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Images scroll"
    }
  ]
}
{% endschema %}