{{ 'text-section.css' | asset_url | stylesheet_tag }}

<style>
  #shopify-section-{{ section.id }} .text-section{
    margin-top: {{ section.settings.mt }}px;
    margin-bottom: {{ section.settings.mb }}px;
    padding-top: {{ section.settings.pt }}px ;
    padding-bottom: {{ section.settings.pb }}px ;
    color: {{ section.settings.color }};
    background: {{section.settings.color_bg  }};
    min-height: {{ section.settings.min-height }}px;
    text-align: {{ section.settings.text_align }};
    max-width: {{ section.settings.max-width }}px;
  }
  @media screen and (max-width: 600px) {
    #shopify-section-{{ section.id }} .text-section{
      padding-top: {{ section.settings.pt_mobile }}px ;
      padding-bottom: {{ section.settings.pb_mobile }}px ;
      max-width: {{ section.settings.max-width_mobile }}px;
    }
  }
  #shopify-section-{{ section.id }} .text-section__btn a{
       color: {{ section.settings.button_title_color }} ;
       background-color: {{ section.settings.button_bg }} ;
  }
</style>

<div class="text-section">
  {% if section.settings.bg %}
    <img src="{{ section.settings.bg_id | img_url: 'master' }}" alt="#" class="text-section__bg">
  {% endif %}

  <h2 class="text-section__title">
    {{ section.settings.title }}
  </h2>
  <div class="text-section__subtitle">
    {{ section.settings.richtext }}
  </div>
  <div class="text-section__btn">
    <a href="{{ section.settings.button_url }}">{{ section.settings.button_title }}</a>
  </div>
</div>

{% schema %}
{
  "name": "Text Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "richtext",
      "label": "Subtitle"
    },
    {
      "type": "image_picker",
      "id": "bg",
      "label": "Background"
    },
    {
      "type": "range",
      "id": "pt",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Padding Top",
      "default": 5
    },
    {
      "type": "range",
      "id": "pb",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Padding Bottom",
      "default": 5
    },
    {
      "type": "range",
      "id": "mt",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "mb",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "min-height",
      "min": 0,
      "max": 900,
      "step": 10,
      "label": "Height",
      "default": 0
    },
    {
      "type": "range",
      "id": "max-width",
      "min": 0,
      "max": 2000,
      "step": 20,
      "label": "Max-width",
      "default": 1640
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color",
      "default": "#000",
      "info": "Color For Your Text"
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": "Background Color",
      "default": "#FFFFFF",
      "info": "Color For Your Background"
    },
    {
      "type": "text",
      "id": "button_title",
      "label": "Button",
      "default": "Button",
      "info": "Title of button"
    },
    {
      "type": "color",
      "id": "button_title_color",
      "label": "Button Title Color",
      "default": "#000",
      "info": "Color Of Your Title Inseide Button"
    },
    {
      "type": "color",
      "id": "button_bg",
      "label": "Button Background",
      "default": "#a6b0b9",
      "info": "Button Background Color"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "URL for Button",
      "info": "Insert link"
    },
    {
      "type": "range",
      "id": "pt_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Padding Top Mobile",
      "default": 5
    },
    {
      "type": "range",
      "id": "pb_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Padding Bottom Mobile",
      "default": 5
    },
    {
      "type": "range",
      "id": "max-width_mobile",
      "min": 0,
      "max": 2000,
      "step": 20,
      "label": "Max Width Mobile",
      "default": 1640
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    }
  ],
  "presets": [
    {
      "name": "Text Section"
    }
  ]
}
{% endschema %}
